body {
    font-family:sans-serif;
}

#Head {
    width: 35em;
    margin-left: auto; 
    margin-right: auto; 
}

img {
    width: 90%; 
    margin-bottom: 3em
}



.dice {
    width: 100px;
    height: 150px;

    margin: 12px;
    position: relative;

    background-color: #EEE;
    float:left;
    border-radius: 0.5em;
    border: solid; 
     
}

.dice-value {
    display: block;
    font-size:72px;
    text-align:center;
}

.dice-functionality {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    text-align: center;
    padding:12px;
}

.dicethrow-functionality {
    position: absolute;
    bottom: 30%;
    left: 0; right: 0;
    text-align: center;
    padding:12px;
}

body {
    background-color: skyblue; 
    
}

table {
    margin-top: 2em; 
    margin-left: auto; 
    margin-right: auto; 
    border: solid; 
    border-radius: 0.5em; 
    background-color: black
}

tr {
    border-bottom: solid; 
}

td {
    padding-left: 2em;
    padding-right: 2em;
    
     background-color: white

}

th {
    border-bottom: solid 1px ; 
    background-color: white; 
   
}

#dices {
    width: 50em; 
    height: 12em;
    margin-left: auto; 
    margin-right: auto; 
}

.score {
    text-align: center; 
    font-weight: 800; 
}